//- VARIABLES
-
  slide1 = {"heading": "Design", "description1": "Lorem ipsum dolor sit amet.",
            "description2": "Lorem ipsum.", "button": "Více o design"}
-
  slide2 = {"heading": "Mobile development", "description1": "Lorem ipsum dolor sit amet.",
            "description2": "Lorem ipsum.", "button": "Více o mobile"}
-
  slide3 = {"heading": "Computer development", "description1": "Lorem ipsum dolor sit amet.",
            "description2": "Lorem ipsum.", "button": "Více o computer"}

- slides = [slide1, slide2, slide3]

//- FUNCTIONS
//- make carousel arrow
mixin arrows(classNames)
  div(class=classNames)

//- make carousel slide
mixin carouselContent(slides)
  for slide in slides
    .carousel__content
      .carousel__text
        h2.carousel__heading= slide.heading
        p.carousel__description1= slide.description1
        p.carousel__description2= slide.description2
      .carousel__button
        p= slide.button

//- HTML
header.header
  .header__background
  +arrows("arrow arrow--left")
  +arrows("arrow arrow--right")
  .carousel
    .carousel__wrapper
      +carouselContent(slides)
