//- VARIABLES
-
  slide1 = {"heading": "Design", "paragraph1": "Lorem ipsum dolor sit amet.", 
            "paragraph2": "Lorem ipsum.", "button": "Více o design"}
-
  slide2 = {"heading": "Mobile development", "paragraph1": "Lorem ipsum dolor sit amet.", 
            "paragraph2": "Lorem ipsum.", "button": "Více o mobile"} 
-
  slide3 = {"heading": "Computer development", "paragraph1": "Lorem ipsum dolor sit amet.", 
            "paragraph2": "Lorem ipsum.", "button": "Více o computer"}

//- FUNCTIONS
              
//- make carousel arrow
mixin arrows(classNames)
  div(class=classNames)

//- make carousel slide  
mixin carouselContent(items)
  .carousel__wrapper__content
    .carousel__wrapper__content__text
      h2.carousel__wrapper__content__text__heading= items.heading
      p.carousel__wrapper__content__text__paragraph1= items.paragraph1
      p.carousel__wrapper__content__text__paragraph2= items.paragraph2
    .carousel__wrapper__content__button
      p= items.button 
    
//- HTML 
header
  .headerBg
  +arrows("arrow arrow--left")
  +arrows("arrow arrow--right")
  
  .carousel
    .carousel__wrapper
      +carouselContent(slide1)
      +carouselContent(slide2)
      +carouselContent(slide3)
